# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.idea/
target/

### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# ignore files ANTLR4 generated
*.tokens

gen/
project/metals.sbt
*.jar
*.fir
